@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Swiss Grit";
  src: url("./fonts/SwissGrit.otf");
}

@font-face {
  font-family: "Swiss Grit Dingbats";
  src: url("./fonts/SwissGritDingbats.otf");
}

@font-face {
  font-family: "VT323";
  src: url("./fonts/VT323.ttf");
}

body {
  font-family: "Swiss Grit", "VT323", "Courier New", Courier, monospace,
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-red-glow {
  text-shadow: 0 0 10px rgb(239 68 68);
}
.text-green-glow {
  text-shadow: 0 0 10px rgb(74 222 128);
}
.text-blue-glow {
  text-shadow: 0 0 10px rgb(59 130 246);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.navbar-bg {
  background-image: url(./images/navbar.png);
  padding-top: 2.9%;
}

.footer-bg {
  background-image: url(./images/footer.png);
  padding-top: 1.5%;
}

.navbar-bg,
.footer-bg {
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 100%;
}

.panel-bg {
  background-image: url(./images/panel_background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.project-nameplate-bg {
  background-image: url(./images/proj_nameplate_bg.png);
}

.leftpanel-border {
  border-image-source: url(./images/border_left.png);
}

.rightpanel-border {
  border-image-source: url(./images/border_right.png);
}

.project-image-border {
  border-image-source: url(./images/image_border.png);
}

.project-nameplate-border {
  border-image-source: url(./images/proj_nameplate_border.png);
}

.project-details-border {
  border-image-source: url(./images/proj_border.png);
}

.trivision-border {
  border-image-source: url(./images/trivision_frame.png);
  border-image-outset: 1.6vw;
}

.cert-border {
  border-image-source: url(./images/cert_paper_middle.png);
  border-image-width: 100%;
  border-image-slice: 50%;
}

.border-ws {
  border-image-width: 100%;
  border-image-slice: 50%;
}

.marquee-container {
  container-type: inline-size;
  text-shadow: 0 0 5px rgb(74 222 128);
}

.marquee-overlay {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(90deg, rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
  background-size: 100% 4px, 4px 100%;
}

/* .blink {
  animation-name: blink;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes blink {
  0% {
    background-color: #929292;
  }

  100% {
    background-color: #f6ff00;
  }
} */

.details-lighting {
  --c: #ffffff;
  text-shadow: 0px 0px 1px var(--c), 0px 0px 5px var(--c);
  background-image: radial-gradient(circle at center, #ffdbdb, transparent 40%),
    radial-gradient(circle at 100% 0%, #ffdbdb, transparent 40%),
    radial-gradient(circle at 100% 100%, #ffdbdb, transparent 40%),
    radial-gradient(circle at 0% 100%, #ffdbdb, transparent 40%),
    radial-gradient(circle at 0% 0%, #ffdbdb, transparent 40%);
  mask-image: radial-gradient(circle at center, #000000 0%, transparent 50%),
    radial-gradient(circle at 100% 0%, #000000 0%, transparent 50%),
    radial-gradient(circle at 100% 100%, #000000 0%, transparent 50%),
    radial-gradient(circle at 0% 100%, #000000 0%, transparent 50%),
    radial-gradient(circle at 0% 0%, #000000 0%, transparent 50%);
  backdrop-filter: blur(100px);
}

.centerLight {
  background-image: radial-gradient(circle at center, #ffdbdb, transparent 40%);
  mask-image: radial-gradient(circle at center, #000000 0%, transparent 50%);
}

.topleftLight {
  background-image: radial-gradient(circle at 0% 0%, #ffdbdb, transparent 40%);
  mask-image: radial-gradient(circle at 0% 0%, #000000 0%, transparent 50%);
}

.toprightLight {
  background-image: radial-gradient(
    circle at 100% 0%,
    #ffdbdb,
    transparent 40%
  );
  mask-image: radial-gradient(circle at 100% 0%, #000000 0%, transparent 50%);
}

.bottomleftLight {
  background-image: radial-gradient(
    circle at 0% 100%,
    #ffdbdb,
    transparent 40%
  );
  mask-image: radial-gradient(circle at 0% 100%, #000000 0%, transparent 50%);
}

.bottomrightLight {
  background-image: radial-gradient(
    circle at 100% 100%,
    #ffdbdb,
    transparent 40%
  );
  mask-image: radial-gradient(circle at 100% 100%, #000000 0%, transparent 50%);
}

.trivision-board .img .image-1 {
  background-image: url(./images/forrest1.png);
}

.trivision-board .img .image-2 {
  background-image: url(./images/forrest2.png);
}

.trivision-board .img .image-3 {
  background-image: url(./images/forrest3.png);
}

.trivision-board .img span {
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
}

.trivision-board .img {
  transform-style: preserve-3d;
}

.terminal-frame {
  border-image-source: url(./images/terminal_frame.png);
  border-image-width: 100%;
  border-image-slice: 60% 60%;
}

.video-overlay {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.02),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.02)
    );
  background-size: 100% 4px, 30px 100%;
}

.video-overlay:after {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 70%,
    rgba(0, 0, 0, 1) 100%
  );
}

.masktest {
  mask-image: url(./images/testImg.png);
  mask-size: 96%;
  mask-repeat: no-repeat;
  mask-position: center;
}