@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Swiss Grit";
  src: url("./SwissGrit.otf");
}
@font-face {
  font-family: "Swiss Grit Dingbats";
  src: url("./SwissGritDingbats.otf");
}

body {
  font-family: "Swiss Grit", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.leftpanel-border {
  /* border: 1rem solid transparent; */
  border-image-source: url(./images/border_left.png);
  border-image-width: 100%;
  border-image-slice: 50%;
  /* border-width: 100px; */
}

.rightpanel-border {
  /* border: 1rem solid transparent; */
  border-image-source: url(./images/border_right.png);
  border-image-width: 100%;
  border-image-slice: 50%;
  /* border-width: 100px; */
}

.navbar-bg {
  background-image: url(./images/navbar.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 100%;
  /* height: 0; */
  padding-top: 2.9%;
}

.footer-bg {
  background-image: url(./images/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 100%;
  padding-top: 1.5%;
}

.blink {
  /* background-color: #c4ca13; */
  animation-name: blink;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes blink {
  0% {
    background-color: #929292;
  }
  100% {
    background-color: #f6ff00;
  }
}

.loading-backlit {
  width: 11%;
  height: 50%;
  background-color: #010101;
  animation-name: loading;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes loading {
  0% {
    background-color: #010101;
  }
  100% {
    background-color: #fe0101;
  }
}

.bottom-\[17\%\] {
  bottom: 17%;
}
.bottom-\[34\%\] {
  bottom: 34%;
}
.bottom-\[51\%\] {
  bottom: 51%;
}
.bottom-\[68\%\] {
  bottom: 68%;
}

.holo{
  --c: #ffffffa0;
  /* color: #1dd3b01a; */
  text-shadow: 1px 1px var(--c), 2px 2px var(--c), 3px 3px var(--c), 8px 8px 10px var(--c);
  transform: skew(-1deg, 1deg);
  opacity: 0.8;

}

.holo{
  animation: ani1 5s infinite ease-in-out alternate;
}
.holo{
  animation: ani2 5s infinite ease-in-out; 
}

@keyframes ani1 {
  10%, 20%, 40%, 60%{
    text-shadow: 1px 1px var(--c), 2px 2px var(--c), 3px 4px var(--c), 8px 8px 20px var(--c);
    transform: skew(-1deg, 1deg);
  }
}

@keyframes ani2 {
  20%, 50%, 90%{
    opacity: 0.7;
  }
  32%, 65%, 83%{
    opacity: .9;
  }
}